h1
{
    font-size: 5rem;
    font-weight: 700;
    font-family: Impact;
    color: #000;
}
p
{
    font-size: 2.1875rem;
    font-weight: 400;
    font-family: "Times New Roman";
    color: #000;
}
button
{
    font-size: .8125rem;
    font-weight: 400;
    font-family: Arial;
    height: 80px;
}
